[D-BUS Service]
Name=org.freedesktop.Notifications
Exec=/usr/bin/python3 /usr/lib/marwanos/notifications/server.py
SystemdService=marwanos-notifications.service
